@CHARSET "UTF-8";

body{
	font-family: 'Lato', sans-serif;
}
h1{
	text-align: center;
}
.clear{
	clear:both;
}
.container {
	width:1000px;
	margin-left: auto;
	margin-right: auto;
}

.controls{
	float:right;
	text-align: right;
	margin-right:20px;
}

.welcome {
	font-weight: bold;
	
}
.cartContentsContainer{
	margin-top:10px;
	font-size: large;
}

.productsTable, .cartContentsTable{
	background-color: #ebebe0;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
	margin-top : 40px;
}
.productsTable th, .cartContentsTable th{
	border-bottom: 2px solid black;
}
.productsTable td, .cartContentsTable td{
	padding:20px;
	border-bottom: 1px solid black;
}
.cartContentsSummary {
	font-weight: bold;	
	text-align: right;
}
input[type=submit]{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;	
}
input[type=submit]:HOVER {
    background-color: #367c39;
    cursor: pointer;     
}
input[type=submit]:ACTIVE{
    background-color: #275929;
}
.buttonsForm{
	text-align: center;
	margin-top:30px;
}
.cartContentsHeader{
	margin-bottom:20px;
	margin-left: 20%;
}
.cartContentsHeader h3{
	margin-bottom:5px;
}

.login{
	width:300px;
	margin-left: auto;
	margin-right:auto;
	padding:30px;
	background-color:#ebebe0;
}
.login div.formItem{
	margin-top:10px;
	margin-bottom:10px;
}
.login div.formItem label{
	display:block;
}
.login div.formItem input[type="text"], .login div.formItem input[type="password"]{
    display:block;
    width:100%;
    border-radius: 0;
    border:2px solid #cdcdb1;
    padding:10px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    box-sizing:border-box;
}
